<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Alexandria:wght@100;400&family=Coda&family=Electrolize&family=Jura&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/estilo.css">
    <link rel="stylesheet" href="./login.py">
   

    <title>Fenix Bank</title>
  </head>
  <body>
    <div class="head">
      <h1 class="banco-nome">Fenix Bank</h1>
      <img src="../static/img/logo.png" alt="logo" class="logo">
      <button class="quemSomos-btn"><a href="#quemSomos">Quem Somos</a></button>
      <button class="servicos-btn"> <a href="#nossosServicos">Conheça os Nossos Serviços</a></button>
      <button class="contato-btn"> <a href="#redes-sociais">Redes Sociais</a></button>
      <button class="login-btn"> <a class="cadastro-user" href="./login.php">LOGIN</a></button>
      <button class="cadastro-btn"> <a href="./cadastro.php" class="cadastro-user">Cadastre-se</a></button>
      <p class="divisor1">segredo/usuario:otavio</p>
    </div>

    

    <div class="conteudo-inicial">
      <img src="../static/img/men.jpg" alt="homem" class="men">
      <p class="texto-imagem1">Problemas com suas contas?</p>
      <p class="texto-imagem2">Deixa que a Fenix resolve!</p>
    </div>

    <p class="divisor2"> segredo/senha:123</p>

    <div class="conteudo-servicos">
      <h1 class="titulo-servicos">Confira os nossos serviços</h1>

      <h3 class="confiabilidade">Confiabilidade</h3>
      <img src="../static/img/seguranca.jpg" alt="seguro" class="confiabilidade-img">
      <span class="confiabilidade-texto">Aqui seu dinheiro está seguro</span>

      <h3 class="rentabilidade">Rentabilidade</h3>
      <img src="../static/img/rendimento.jpg" alt="rentabilidade" class="rentabilidade-img">
      <span class="rentabilidade-texto">Aqui seu dinheiro rende</span>

      <h3 class="atendimento">Atendimento 24H</h3>
      <img src="../static/img/atendimento.jpg" alt="atendimento" class="atendimento-img">
      <span class="atendimento-texto">Atendimento VIP</span>

      <h3 class="local">Em qualquer lugar</h3>
      <img src="../static/img/local.jpg" alt="local" class="local-img">
      <span class="local-texto">Em qualquer dispositivo</span>

      <h1 class="texto-servicos-titulo">Sobre os nossos serviços</h1>
      <div class="texto-centralizado" id="nossosServicos">
        
        <p class="texto-centralizado1">Oferecemos uma ampla gama de serviços financeiros, incluindo contas correntes, cartões de crédito, investimentos, seguros e empréstimos. Todos os nossos serviços são personalizados de acordo com as necessidades individuais de cada cliente, garantindo assim a melhor experiência e o melhor atendimento possível.</p>
      
        <p class="texto-centralizado2">Fenix Bank tembem atua como uma corretora com a ataxa atual de 0%, Contamos com investimentos personalizados que inclue.</p>
      
        <p class="texto-centralizado3">Tesouro direto, Fundos imobilharios, CDB e CDI, Compra e vendas de Cripto moedas, Compra e venda de ações, Apostas esportivas e alem de cartões personalizados.</p>
      </div>
    </div>


   
    <div class="quemSomos">
      <h1 class="titulo-quemSomos" id="quemSomos">Conheça a Fenix</h1>
      <img src="../static/img/conheca a fenix.jpg" alt="Conheça" class="img-quemSomos">
      <div class="texto-quemSomos">
        <p class="texto-quemSomos1">É com grande satisfação que o Fenix Bank se apresenta a você. Somos um grande banco e corretora com mais de 30 anos de experiência no mercado financeiro e estamos presentes em diversos países, oferecendo serviços de qualidade e confiabilidade.</p>
      
        <p class="texto-quemSomos2">Nossos valores fundamentais são a segurança, a transparência e a excelência no atendimento ao cliente. Nosso principal objetivo é oferecer aos nossos clientes soluções financeiras eficientes e inovadoras, que atendam às suas necessidades e superem as suas expectativas.</p>
      
        <p class="texto-quemSomos3">Oferecemos uma ampla gama de serviços financeiros, incluindo contas correntes, cartões de crédito, investimentos, seguros e empréstimos. Todos os nossos serviços são personalizados de acordo com as necessidades individuais de cada cliente, garantindo assim a melhor experiência e o melhor atendimento possível.</p>
      
        <p class="texto-quemSomos4">Além disso, o Fenix Bank possui uma equipe altamente capacitada e experiente, que está sempre pronta para ajudar e orientar nossos clientes em todas as etapas de suas transações financeiras.</p>
      
        <p class="texto-quemSomos5">Esperamos ter a oportunidade de fazer parte da sua vida financeira e ajudá-lo(a) a alcançar seus objetivos.</p>
      </div>
    </div>


    <div class="contato">
      <p class="divisor3">oi</p>
       <h1 class="contato-titulo" id="redes-sociais">Redes Sociais</h1>
       <img src="../static/img/astronauta-wave.jpg" alt="wave" class="astronauta-wave">
       <button class="instagram-btn">Instagram</button>
       <button class="facebook-btn">Facebook</button>
       <button class="twiter-btn">Twiter</button>
       <button class="youtube-btn">Youtube</button>
    </div>


      







  </body>
</html>
